:global(.ant-tree li .ant-tree-node-content-wrapper) {
  width: calc(100% - 18px);
}

.tree {
  &__title {
    display: flex;
    justify-content: space-between;
    & > span {
      line-height: 22px;
    }
  }
}
