.offer-card {
  margin: 8px 0;
  border: 1px solid #333;

  &__header {
    position: relative;
    padding: 8px;
    background: #ddd;
  }
  &__row {
    margin-bottom: 16px;
  }
  &__content {
    padding: 8px;
  }
  &__image-field {
    display: flex;
  }
  &__image-box {
    width: 150px;
    margin-right: 8px;

    img {
      width: 100%;
    }
  }
  &__close {
    position: absolute;
    font-size: 24px;
    top: 6px;
    right: 6px;
    transition: all .3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.3);
    }
  }
}
