.offer-info {
  &__button-operate-header {
    margin-bottom: 8px;
  }
  &__button-operate {
    display: block;
  }
  &__button {
    margin-right: 8px;
  }
  &__row {
    margin-bottom: 16px;
  }
}

:global {
  .page_offer-info {
    .ant-row {
      display: flex;
      align-items: center;
    }
  }
}
