.commodity-content-edit__header-row {
  padding: 8px 0;
}
.commodity-content-edit__operate-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}
.commodity-content-edit__editor {
  height: 500px!important;
}
.commodity-content-edit__wrapper {
  height: 600px!important;
}
:global {
  [data-contents="true"] {
    padding-bottom: 25px;
  }
}
