.page_commodity-create {
  padding-top: 20px;
}
.commodity-create {
  &__btn {
    margin-right: 8px;
  }

  &__btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    clear: both;
  }

  &__input-row {
    margin: 8px 0;
  }

  &__name-row {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
}
