.what {
  /* background: #f00; */
  display: inline-block;
  height: 300px;
  width: 300px;
  margin-right: 30px;
  overflow-y: scroll;
}

.tag {
  display: inline-block;
  width: 50%;
  margin-bottom: 10px;
}

.edit {
  margin-left: 3px;
  display: inline-block;
  &:hover {
    color: #49a9ee;
  }
}

.left {
  margin-left: 10px;
}