.upload {
  :global {
    .ant-upload-list-item {
      float: none;
      width: 100%;
      max-height: 417px;
    }
  }
}

.wrapper {
  margin: 10px;
}

.box {
  border: 1px dashed gray;
  background: white;
  cursor: pointer;
  width: 200px;
  height: 111px;
  position: relative;
  overflow: hidden;
  user-select:none;

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    background: #fff;
  }
}

.page {
  text-align: center;
}

.img {
  user-select:none;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}