.header {
  width: 100%;
  background: #373d41;
  height: 50px;
  display: flex;
  justify-content: space-between;

  &__logo {
    width: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;

    img {
      height: 30px;
    }
  }
}
