.header {
  width: 100%;
  background: #373d41;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;

    img {
      height: 30px;
    }
  }


  &__right {
    margin-right: 35px;
  }


}

.popover {
  text-align: center;

  & > p {
    padding: 5px 0;

    &:first-child {
      border-bottom: 1px solid #eee;
    }
  }
}