.card {
  width: 1000px;
  margin-bottom: 20px;
  cursor: pointer;
}
.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.col {
  display: flex;
  align-items: center;
  width: 500px;
}
.lable {
  text-align: right;
  width: 80px;
  margin-right: 5px;
}