.newContent {
  min-width: 1173px;
  .input {
    width: 300px;
  }
  .formitme {
    display: flex;
  }
  .formTop {
    display: flex;
    justify-content: space-around;
    .fromTopCenter {
      flex: 1;
    }
    .fromTopRight {
      width: 300px;
      button {
        margin: 0 10px;
      }
    }
  }
  .fromMiddleA {
    display: flex;
  }
  .fromMiddleB {
    display: flex;
  }
  .fromBottom {
    display: flex;
  }
  .isHide {
    display: flex;
  }
  .imgBox {
    display: flex;
  }
  :global{
    .ant-form-item-label {
      /*background: pink;*/
      width: 100px;
      text-align: right;
    }
  }
}

