.select-area {
  display: flex;


  &__left {
    width: 300px;
  }
  &__right {
    width: 300px;
  }
  &__arrow {
    display: flex;
    align-items: center;
  }

  &__checkbox-scroll {
    margin-top: 8px;
    height: 300px;
    overflow-y: auto;
  }
}
