@component content {
  width: 1000px;
}

.upload-list-inline{
  :global {
    .ant-upload-list-item {
      float: left;
      width: 200px;
      height: auto;
      margin-right: 8px;
    }
  }
}

.goods-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 760px;
  padding: 20px;
  background: #eee;
}

.item {
  background: #fff;
  text-align: center;
  width: 140px;
  margin: 0 10px 10px 0;
  padding: 5px 10px;
  position: relative;
  &:hover {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    cursor: pointer;
  }


  &__name {
    text-align: left;
    line-height: 20px;
    height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  &__price {
    text-align: left;
  }

  &__img {
    height: 120px;
    width: 120px;
  }
}