:global {
  .nav {
    padding: 10px 0;
    background: #fff;
    box-shadow: 0 0 3px 0 rgba(188,188,188,0.30);

    &__wrapper {
      display: flex;
      justify-content: space-between;
      margin-left: 44px;
      margin-right: 44px;
    }

    &__item {
      width: 40px;
      text-align: center;
      color: #333;

      img {
        width: 100%;
      }
    }
  }
}
